.tile {
    width: 128px;
    height: 128px;
    display: inline-block;
    margin-right: 5px;
}

.tile:hover {
    cursor: pointer;
}

.blank {
    background-image: url('/assets/blank.png');
    background-size: 128px;
}

.X {
    background-image: url('/assets/X.png');
    background-size: 128px;
}

.O {
    background-image: url('/assets/O.png');
    background-size: 128px;
}

.basic {
    border: 5px solid #AEADF0;
}

.disabled {
    pointer-events: none;
}

.winnerTile {
    border: 5px solid red;
}

@media screen and (max-width: 500px)
{
    .tile {
        width: 64px;
        height: 64px;
    }
    .O {
        background-size: 64px;
    }
    .blank {
        background-size: 64px;
    }
    .X {
        background-size: 64px;
    }
}