.tile {
    width: 128px;
    height: 128px;
    display: inline-block;
    margin-right: 5px;
}

.tile:hover {
    cursor: pointer;
}

.blank {
    background-image: url('/assets/blank.png');
    background-size: 128px;
}

.X {
    background-image: url('/assets/X.png');
    background-size: 128px;
}

.O {
    background-image: url('/assets/O.png');
    background-size: 128px;
}

.basic {
    border: 10px solid coral;
}

.winnerTile {
    border: 10px solid red;
}