table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td {
  width: 175px;
  text-align: center;
  vertical-align: middle;
}

tbody td p {
  font-weight: normal;
  line-height: 50px;
}

.even {
    background-color: #AEADF0;
    color: white;
}

.odd {
  background-color: teal;
  color:white;
}