<div class="recentwinners">
  <table>
    <thead>
      <tr>
        <td><p>Game</p></td>
        <td><p>Player</p></td>
        <td><p>Mark</p></td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let win of XOS.RecentWinners; index as i; even as e">
        <tr [class.even]="e" [class.odd]="!e">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ win.Winner.Name }}
          </td>
          <td>
            {{win.Side}}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
